.container {
  display: grid;

  grid-template-columns: 20% 1fr;
  grid-template-rows: 72px 1fr;

  grid-template-areas:
    "sidebar head head head"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";

  /* grid-container height = 100% of viewport height */
  height: 100vh;
}
